/* Style sheet for MemberPress Developer Challenge admin page */

#mp-admin-header {
  padding: 20px;
  margin-left: -20px;
  background: #FFFFFF;
  border-bottom: 2px solid #1ed1cd;
}

#mp-instructions ul {
  list-style: disc;
  margin-left: 25px;
}
