#dev-challenge-table table {
  border-collapse: collapse;
}

#dev-challenge-table th {
  background-color: #CCCCCC;
  text-align: center;
}

#dev-challenge-table td {
  background-color: #FFFFFF;
}

#dev-challenge-table table,
#dev-challenge-table th,
#dev-challenge-table td {
  border: 1px solid #000000;
}

#dev-challenge-table th,
#dev-challenge-table td {
  padding: 5px;
}
